spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/diepchu1999/car-rental-config-repo/
          default-label: main
server:
  port: 8888
