spring:
  application:
    name: user-service
  
  config:
    import: "configserver:http://localhost:8888"
  
  profiles:
    active: default #user config default

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

